PRIVATE_KEY=909205bcf9d3505931b14920c3d99de478faedaa4c3a2b7aa003170b314c7b26
SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/your-key
ETHERSCAN_API_KEY=your_etherscan_api_key
VITE_WEB3_STORAGE_TOKEN=your_web3_storage_token
