node_modules/
dist/
artifacts/
cache/
coverage/

smart-contracts/node_modules/
smart-contracts/artifacts/
smart-contracts/cache/
smart-contracts/coverage/

frontend/node_modules/
frontend/dist/

.env
smart-contracts/.env
frontend/.env

.DS_Store
Thumbs.db
